    .container {
        width: 1240px;
        margin: 0 auto;
        /* z-index: 111; */
    }
    
    .swiper-container {
        width: 100%;
        height: 680px;
        position: relative;
    }
    
    #meizu_header {
        height: 82px;
        position: absolute;
        left: 65%;
        margin-left: -900px;
        /* right: 660px; */
        z-index: 111;
    }
    
    .meizu_header_logo {
        /* line-height: 82px; */
        width: 140px;
        float: left;
    }
    
    .meizu_header_logo a img {
        margin-top: 26px;
    }
    
    .meizu_header_ul {
        float: left;
        overflow: hidden;
    }
    
    .meizu_header_ul li {
        float: left;
        display: list-item;
        text-align: -webkit-match-parent;
        line-height: 82px;
    }
    
    .meizu_header_ul li a {
        font-size: 14px;
        color: #000;
        padding: 31px 20px 30px;
        text-decoration: none;
    }
    
    .meizu_header_ul li a:hover {
        color: aqua;
    }
    
    .header_search {
        position: relative;
        width: 170px;
        height: 30px;
        margin: 26px 5px 0 10px;
        float: left;
        border-radius: 20px;
        border: 1px solid #999;
        line-height: 29px;
        background: #fff;
        font-size: 12px;
        box-sizing: border-box;
    }
    
    .inp {
        display: block;
        border: none;
        padding: 0;
        outline: 0;
        width: 127px;
        height: 20px;
        margin-left: 15px;
        margin-top: 5px;
        transition: width .5s;
        font-size: 12px;
        line-height: 20px;
        color: #333;
        background: transparent;
        box-sizing: content-box;
        outline-offset: 0;
    }
    
    .header_search a {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        display: block;
        width: 36px;
        height: 32px;
        background-position: 50%;
        cursor: pointer;
    }
    
    .header_search a svg {
        display: block;
        margin: 7px 5px 0 auto;
    }
    
    .font1 {
        width: 37px;
        height: 50px;
        padding: 25px 0 0 8px;
        float: left;
        cursor: pointer;
    }
    
    .font2 {
        float: left;
        font-size: 29px;
        margin-top: 24px;
        color: #999;
        cursor: pointer;
    }
    /* 主题内容 */
    
    .index_container {
        background: #f4f4f4;
        min-width: 1240px;
        overflow: hidden;
    }
    
    .section_box_adv {
        height: auto;
        padding-bottom: 45px;
        background-color: #fff;
        border-bottom: 1px solid #eee;
        overflow: hidden;
        margin-bottom: 45px;
    }
    
    .adv_ul {
        height: 232px;
    }
    
    .adv_ul img {
        width: 130px;
        height: 130px;
    }
    
    .adv_ul li {
        float: left;
        /* position: relative; */
        width: 25%;
        padding-top: 45px;
        text-align: center;
    }
    
    .adv_ul em {
        display: block;
        color: #333;
        font-size: 20px;
        /* text-indent: 10px; */
    }
    
    .adv_ul p {
        font-size: 14px;
        color: #999;
        /* text-indent: 10px; */
    }
    /* .section_phone_box {
        margin-bottom: 50px;
    } */
    
    .section_title {
        /* font-size: 30px; */
        text-align: center;
        margin-bottom: 10px;
    }
    
    .section_title h3 {
        font-size: 30px;
        font-weight: 400;
        font-style: normal;
    }
    
    .index_center_wrapper {
        width: 1240px;
        margin: auto;
    }
    
    .section_box_row li.big {
        width: 611px;
        height: 610px;
    }
    
    .section_box_row li {
        float: left;
        position: relative;
        width: 301px;
        height: 375px;
        margin-right: 9px;
        margin-top: 10px;
        background-color: #fff;
        overflow: hidden;
        transition: all .3s ease;
    }
    
    .section_box_row li.goods_box {
        height: 100%;
    }
    
    .goods_box .box_img {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
    }
    
    .box_img .goods_img {
        position: absolute;
        left: 50%;
        bottom: 0;
        height: 460px;
        margin-left: -250px;
        margin-top: 30px;
    }
    
    .goods_box .box_info {
        position: absolute;
        top: 63px;
        left: 0;
        width: 100%;
        text-align: center;
    }
    
    .box_info span {
        display: block;
    }
    
    .section_box_row li.big .goods_name {
        color: #333;
        font-size: 28px;
        margin-bottom: 0;
    }
    
    .goods_desc {
        color: #333;
        font-size: 18px;
        margin-bottom: 3px;
    }
    
    .goods_price {
        position: absolute;
        top: 132px;
        left: 245px;
        display: inline-block;
        color: #c00;
        font-size: 22px;
        padding-left: 14px;
    }
    
    .red_span {
        position: absolute;
        top: 30px;
        left: 30px;
        display: block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        color: #fff;
        font-size: 16px;
        text-align: center;
        border-radius: 50%;
        background-image: linear-gradient( 120deg, #ff3149, #ff64a6);
    }
    
    .phone {
        text-align: center;
    }
    
    .li_img {
        height: 230px;
        margin-top: 30px;
    }
    
    .phone_name {
        color: #333;
        font-size: 16px;
        margin-bottom: 2px;
    }
    
    .phone em {
        color: #999;
        font-size: 14px;
        display: block;
    }
    
    .phone span {
        color: #c00;
        font-size: 22px;
        padding-left: 14px;
    }
    /* 底部 */
    
    #meizu_footer {
        width: 1903px;
        height: 248px;
        background-color: #fff;
        font-size: 14px;
    }
    
    .meizu_footer_link {
        padding: 48px 0 20px;
        border-top: 1px solid #f1f1f1;
    }
    
    .meizu_footer_wrap {
        max-width: 1240px;
        height: 179px;
        margin: 0 auto;
    }
    
    .footer_tbox {
        height: 85px;
        color: #999;
    }
    
    .footer_tbox ul {
        width: 1000px;
        height: 69px;
        float: left;
    }
    
    .footer_tbox ul li {
        float: left;
        width: 150px;
        height: 69px;
        text-align: center;
    }
    
    .footer_tbox ul li a .iconfont {
        font-size: 45px;
    }
    
    .footer_tbox ul li a {
        color: #999;
    }
    
    .footer_tbox ul li a:hover {
        color: blue;
    }
    
    .tbox_right {
        float: right;
    }
    
    .tbox_right p {
        color: #008cff;
        font-size: 25px;
        font-weight: 400;
        margin-top: -6px;
        line-height: 40px;
    }
    
    .tbox_right span {
        height: 30px;
        padding: 0 16px;
        overflow: hidden;
        position: relative;
        text-align: center;
        line-height: 30px;
        color: #fff;
        border-radius: 20px;
        margin-top: 3px;
        display: inline-block;
        font-size: 14px;
        background: #008cff;
    }
    
    .footer_hr {
        margin: 10px auto 28px;
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #eee;
        padding: 0;
    }
    
    .footer_co {
        width: 1240px;
        height: 55px;
    }
    
    .footer_bbox {
        font-size: 12px;
        color: #999;
    }
    
    .footer_bbox ul {
        width: 941.38px;
        height: 18px;
    }
    
    .footer_bbox ul li {
        padding-right: 15px;
        border-right: 1px solid #d6d6d6;
        float: left;
        height: 18px;
        margin-right: 15px;
    }
    
    .footer_bbox ul li a {
        color: #999;
    }
    
    .footer_bbox ul li a:hover {
        color: blue;
    }
    
    .footer_bottom {
        padding-top: 8px;
    }
    
    .footer_bottom p {
        font-size: 12px;
        color: #999;
    }